<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Main</span>
                </li>
                <li {% if request.path == '/admin/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
                <li {% if request.path == '/admin/appointments/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-appointments' %}"><i class="fe fe-layout"></i> <span>Appointments</span></a>
                </li>
                <li {% if request.path == '/admin/specialities/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-specialities' %}"><i class="fe fe-users"></i> <span>Specialities</span></a>
                </li>
                <li {% if request.path == '/admin/doctors/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-doctors' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
                </li>
                <li {% if request.path == '/admin/patients/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-patients' %}"><i class="fe fe-user"></i> <span>Patients</span></a>
                </li>
                <li {% if request.path == '/admin/prescriptions/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-prescriptions' %}"><i class="fe fe-file"></i> <span>Prescriptions</span></a>
                </li>
                <li {% if request.path == '/admin/reviews/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-reviews' %}"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                </li>
                <li> 
                    <a href=""><i class="fe fe-activity"></i> <span>Transactions</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li {% if request.path == '/admin/reports/appointments/' %}class="active"{% endif %}><a href="{% url 'admin-appointment-report' %}">Appointment Reports</a></li>
                        <li {% if request.path == '/admin/reports/revenue/' %}class="active"{% endif %}><a href="{% url 'admin-revenue-report' %}">Revenue Reports</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->