{% extends 'base.html' %}

{% load static %}

{% block scripts %}

    <!-- Circle Progress JS -->
    <script src="{% static 'assets/js/circle-progress.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

{% endblock %}

{% block content %}

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% block page_name1 %}{% endblock %}</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">{% block page_name2 %}{% endblock %}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                    <!-- Profile Sidebar -->
                    <div class="profile-sidebar">
                        <div class="widget-profile pro-widget-content">
                            <div class="profile-info-widget">
                                <a href="#" class="booking-doc-img">
                                    <img src="{{ user.profile.image }}" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3>Dr. {{ user.get_full_name }}</h3>

                                    <div class="patient-details">
                                        {% if user.profile.specialization %}
                                            <h5 class="mb-0">{{ user.profile.specialization }}</h5>
                                        {% endif %}
                                        {% if user.profile.city and user.profile.country %}
                                            <h5 class="mt-2">
                                                <i class="fas fa-map-marker-alt"></i> 
                                                {{ user.profile.city }}, {{ user.profile.country }}
                                            </h5>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <nav class="dashboard-menu">
                                <ul>
                                    <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                                        <a href="{% url 'doctors:dashboard' %}">
                                            <i class="fas fa-columns"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == 'appointments' %}active{% endif %}">
                                        <a href="{% url 'doctors:appointments' %}">
                                            <i class="fas fa-calendar-check"></i>
                                            <span>Appointments</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == 'my-patients' %}active{% endif %}">
                                        <a href="{% url 'doctors:my-patients' %}">
                                            <i class="fas fa-user-injured"></i>
                                            <span>My Patients</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == 'schedule-timings' %}active{% endif %}">
                                        <a href="{% url 'doctors:schedule-timings' %}">
                                            <i class="fas fa-hourglass-start"></i>
                                            <span>Schedule Timings</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == 'booking-list' %}active{% endif %}">
                                        <a href="{% url 'bookings:booking-list' %}">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span>Bookings</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == 'profile-setting' %}active{% endif %}">
                                        <a href="{% url 'doctors:profile-setting' %}">
                                            <i class="fas fa-user-cog"></i>
                                            <span>Profile Settings</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == 'change-password' %}active{% endif %}">
                                        <a href="{% url 'doctors:change-password' %}">
                                            <i class="fas fa-lock"></i>
                                            <span>Change Password</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'accounts:logout' %}">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- /Profile Sidebar -->

                </div>

                <div class="col-md-7 col-lg-8 col-xl-9">

                    {% block main %}{% endblock %}

                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->

{% endblock %}