{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% block page_name1 %}{% endblock %} | Laso Digital Health
{% endblock %}

{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% block page_name2 %}{% endblock %}</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">{% block page_name3 %}{% block page_name4 %}{% endblock %}{% endblock %}</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                {% include 'includes/patient-sidebar.html' %}
            </div>
            <!-- /Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
{% endblock %}