{% extends "base.html" %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">403 - Forbidden</h1>
            <p class="lead">CSRF verification failed. Request aborted.</p>
            <p>This error may occur if:</p>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">The form has been opened for too long before submitting</li>
                <li class="list-group-item">You're using browser extensions that block cookies</li>
                <li class="list-group-item">Your session has expired</li>
            </ul>
            <p>Please try refreshing the page and submitting the form again.</p>
            <a href="/" class="btn btn-primary">Return to Home</a>
        </div>
    </div>
</div>
{% endblock %}